<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="nome" class="control-label">Nome</label>
    <input type="text" class="form-control" id="nome" formControlName="nome"
    [ngClass]="aplicaCssErro('nome')">
    <div class="invalid-feedback">
      O nome é obrigatório!
    </div>
  </div>
  <div class="mb-3">
    <label for="email" class="control-label">Email</label>
    <input type="email" class="form-control" id="email" formControlName="email" [ngClass]="aplicaCssErro('email')">
    <div class="invalid-feedback">
      O email é obrigatório!
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-3">
      <label for="cep" class="control-label">CEP</label>
      <input type="cep" class="form-control" id="cep" formControlName="cep"
      [ngClass]="aplicaCssErro('cep')"
      (blur)="buscaCep()">
      <div class="invalid-feedback">
        O CEP é obrigatório!
      </div>
    </div>
    <div class="col-md-2">
      <label for="numero" class="control-label">Número</label>
      <input type="numero" class="form-control" id="numero" formControlName="numero" [ngClass]="aplicaCssErro('numero')">
      <div class="invalid-feedback">
        O número é obrigatório!
      </div>
    </div>
    <div class="col-md-7">
      <label for="comple" class="control-label">Complemento</label>
      <input type="comple" class="form-control" id="comple" formControlName="comple" [ngClass]="aplicaCssErro('comple')">
      <div class="invalid-feedback">
        O complemento é obrigatório!
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="rua" class="control-label">Rua</label>
    <input type="text" class="form-control" id="rua" formControlName="rua" [ngClass]="aplicaCssErro('rua')">
  </div>
  <div class="row mb-3">
    <div class="col-md-3">
      <label for="bairro" class="control-label">Bairro</label>
      <input type="bairro" class="form-control" id="bairro" formControlName="bairro" [ngClass]="aplicaCssErro('bairro')">
    </div>
    <div class="col-md-5">
      <label for="cidade" class="control-label">Cidade</label>
      <input type="cidade" class="form-control" id="cidade" formControlName="cidade" [ngClass]="aplicaCssErro('cidade')">
    </div>
    <div class="col-md-4">
      <label for="estado" class="control-label">Estado</label>
      <input type="estado" class="form-control" id="estado" formControlName="estado" [ngClass]="aplicaCssErro('estado')">
    </div>
  </div>
  <div class='col-xs-3'>
    <button type="submit" class="btn btn-primary me-2">Submit</button>
    <button type="submit" class="btn btn-danger" (click)="resetForm()">Cancelar</button>
  </div>
  <app-form-debug [form]="formulario"></app-form-debug>
</form>
